<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="robots" content="nofollow">
    <meta name="description" content="Vuelos economicos, vuelos en linea, comprar vuelos en linea, vuelos al mejor precio, vuelos desde argentina peru, vuelos en linea">
    <title> </title>
    <link rel="stylesheet" href="../stylesheets/normalize.css">
    <link rel="stylesheet" href="../stylesheets/viainti.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.js"></script>
    <script src="../javascripts/viaintifrontend.js"></script>
    <!--script(src='../javascripts/viaintibackend.js')-->
  </head>
  <body>
    <header data-role="header" class="menuViainti bgHeader">
      <div class="header">
        <div class="menuViaintiLeft">
          <figure class="menuViainti_Logo margen enLinea"><img src="../images/logo.png" alt="Viainti tu libro viajero" class="logoHeader"></figure>
        </div>
      </div>
      <nav class="linkMenu">
        <ul class="contMenu">
          <li class="liMenu"><a href="/" class="aLinkMenu">Inicio</a></li>
          <li class="liMenu"><a href="/" class="aLinkMenu">Vuelos</a></li>
          <li class="liMenu"><a href="/paquetes" class="aLinkMenu">Paquetes</a></li>
          <li class="liMenu"><a href="../cruceros/" class="aLinkMenu aMenuHover">Cruceros</a></li>
          <li class="liMenu"><a href="#" class="aLinkMenu">Novedades</a></li>
          <ul class="contMenuSociales">
            <li class="ListSociales">
              <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fviainti&amp;amp;send=false&amp;amp;layout=button_count&amp;amp;width=140&amp;amp;show_faces=false&amp;amp;font&amp;amp;colorscheme=light&amp;amp;action=like&amp;amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:78px; height:21px;" allowtransparency="true"></iframe>
            </li>
          </ul>
        </ul>
      </nav>
    </header>
    <main>
      <section class="contenidoPrincipal">
        <header class="subMenuViajes">
          <ul class="subMenuViajes--Cont">
            <li class="listSubMenuViajes"><a href="/" class="link">
                 
                Inicio</a></li>
            <li class="listSubMenuViajes"><a href="../paquetes" class="link">Paquetes Turisticos</a></li>
          </ul>
        </header>
        <section class="contenidoVuelosPage">
          <header class="contenidoVuelosPage--Header">
            <h2 class="title"></h2>
            <h2 class="title"><span class="title-ico"><i class="fa fa-map-marker"> </i></span></h2>
          </header>
          <figure class="contenidoVuelosPage--Figure margen"><img src="undefined" alt="" class="imgcover"></figure>
          <section class="contenidoVuelosPage--Cont flex">
            <section class="contenidoVuelosPage--Iz">
              <article class="contenidoVuelosPage--Article">
                <header class="contenidoVuelosPage--Article--Header">
                  <h2 class="title">Descripcción</h2>
                </header>
                <div class="contenidoVuelosPages--Article">
                  <undefined></undefined>
                </div>
              </article>
            </section>
            <aside class="contenidosVuelosPage--De">
              <article class="contenidosVuelosPage--Comprar">
                <header class="Comprar--Cont">
                  <h2 class="Title--Precio margen">AR $</h2>
                </header>
                <div class="Comprar--Cont"><span class="Cont--Ico"><i class="fa fa-male"></i>Exclusivo para</span><strong class="Cont--Title"> Personas</strong></div>
                <div class="Comprar--Cont"><a href="#" class="Comprar--Cont--Btn">Comprar Paquete</a></div>
                <div class="Comprar--Cont">
                  <header class="Comprar--Cont">
                    <h5 class="Title--Incluye margen nopadding">Partida</h5>
                  </header>
                </div>
                <div class="Comprar--Cont Partida">
                  <div class="Comprar--Cont--Partida--Ida">
                    <h2 class="Title--Ida margen"><i class="fa fa-calendar-o"></i></h2>
                  </div>
                  <div class="Comprar--Cont--Partida--Llega">
                    <h2 class="Title--Llega margen"><i class="fa fa-calendar-o"></i></h2>
                  </div>
                </div>
                <div class="Comprar--Cont">
                  <header class="Comprar--Cont">
                    <h5 class="Title--Incluye">Incluye</h5>
                  </header>
                  <ul class="Comprar--Cont--Ul">
                    <li class="List Cont--Flex">
                      <div class="List--Cont"><span class="List--Ico"><i class="fa fa-plane"></i></span><span class="List--Title">Pasaje</span></div>
                      <div class="List--Cont"><span class="List--Acept"></span></div>
                    </li>
                    <li class="List Cont--Flex">
                      <div class="List--Cont"><span class="List--Ico"><i class="fa fa-car"></i></span><span class="List--Title">Mobilidad</span></div>
                      <div class="List--Cont"><span class="List--Acept"></span></div>
                    </li>
                    <li class="List Cont--Flex">
                      <div class="List--Cont"><span class="List--Ico"><i class="fa fa-bed"></i></span><span class="List--Title">Hotel</span></div>
                      <div class="List--Cont"><span class="List--Acept"></span></div>
                    </li>
                    <li class="List Cont--Flex">
                      <div class="List--Cont"><span class="List--Ico"><i class="fa fa-medkit"></i></span><span class="List--Title">Seguro Medico</span></div>
                      <div class="List--Cont"><span class="List--Acept"></span></div>
                    </li>
                  </ul>
                </div>
                <!--div.Comprar--Cont
                header.Comprar--Cont
                 h5.Title--Incluye
                  | Ubicación
                iframe(width='100%', height='250', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='http://maps.google.com/maps?q=mesco,heuvelstraat 95,tilburg, nederland&layer=tc&t=m&z=18&source=embed&output=svembed')
                -->
              </article>
            </aside>
          </section>
        </section>
      </section>
    </main>
    <footer data-role="footer" class="footer_DerechosHome">
      <ul class="footer_DerechosHome_gen">
        <div class="footer_DerechosHome_cont">
          <div class="footer_DerechosHome_bloques linea float"><span class="footer_title cBlanco">Viainti 2015</span>
            <select class="footer_pais noBorder">
              <option value="0" class="select">Argentina</option>
              <option value="1" class="select">Brasil</option>
              <option value="2" class="select">Chile</option>
              <option value="3" class="select">Colombia</option>
              <option value="4" class="select">Costa Rica</option>
              <option value="5" class="select">España</option>
              <option value="6" class="select">Guatemala</option>
              <option value="7" class="select">México</option>
              <option value="8" class="select">Panamá</option>
            </select>
          </div>
          <div class="footer_DerechosHome_bloques linea floatD">
            <li class="footer_list linea"><a href="#" class="footer_list_link linkBlanco">Ayuda</a></li>
            <li class="footer_list linea"><a href="#" class="footer_list_link linkBlanco">Información</a></li>
            <li class="footer_list linea"><a href="#" class="footer_list_link linkBlanco">Condiciones de uso</a></li>
            <li class="footer_list linea"><a href="#" class="footer_list_link linkBlanco">Negocios</a></li>
            <li class="footer_list linea"><a href="#" class="footer_list_link linkBlanco">Blog</a></li>
            <li class="footer_list linea"><a href="#" class="footer_list_link linkBlanco">Desarrolladores<a></a></a></li>
          </div>
        </div>
      </ul>
    </footer>
  </body>
</html>