doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='robots', content='nofollow')
    meta(name='description', content='Vuelos economicos, vuelos en linea, comprar vuelos en linea, vuelos al mejor precio, vuelos desde argentina peru, vuelos en linea')
    title #{web}
    link(rel='stylesheet', href='../stylesheets/normalize.css')
    link(rel='stylesheet', href='../stylesheets/viainti.css')
    script(src='http://code.jquery.com/jquery-1.11.3.min.js')
   
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.js')
    script(src='../javascripts/viaintibackend.js')
  body
     header.menuViainti.bgHeader(data-role='header')
      .header.headerVuelosAdmin
        .menuViaintiLeft
          figure.menuViainti_Logo.margen.enLinea
            img.logoHeader(src='../images/logo.png', alt='Viainti tu libro viajero')
        .menuViaintiRight
          figure.menuViainti_UserAdmin

     main
        section.container__Gracias
        section.container__Gracias--Info
            header.Gracias--Info--Header
              h2.title
                | Gracias por su visita, Le esperamos nuevamente
            div.Gracias--Info--Data
              article.Data--Iz
                span.txt Esperamos que haya encontrado lo que busca, seguiremos mejorando para brindarle el mejor servicio en donde usted se encuentre, no olvide hacernos llegar sus consultas y aportes: 
                 a.txtLink(href="mailto:info@viainti.com") info@viainti.com 
                 | de igual manera agradecerle personalmente del equipo de viainti.
            div.Gracias--Info--Login
              header.Login--Header
                h2.title
                  | Ingresar Nuevamente
              div.Login--Container
                div.Login--Iz
                  a.link(href="auth/facebook")
                    i(class="fa fa-facebook-official", aria-hidden="true")
                    | Ingresar Con Facebook
                div.Login--De
                  a.link(href="auth/twitter")
                    i(class="fa fa-twitter", aria-hidden="true")
                    | Ingresar Con Twitter