doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title #{web}
    link(rel='stylesheet', href='stylesheets/normalize.css')
    link(rel='stylesheet', href='stylesheets/viaintihome.css')
    link(rel='stylesheet', href='stylesheets/animate.min.css')
    script(src='http://code.jquery.com/jquery-1.11.2.min.js')
    // Prefix free
    script(src='javascripts/prefixfree.min.js')
    // animattion wowjs
    script(src='javascripts/wow.min.js')
    script(src='javascripts/viaintifrontend.js')
    script(src='javascripts/apphome.js')
    //if IE
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  body
    header.menuHome.bgPrimary(data-role='header')
      .menuHome_div
        figure.menuHome_logo.margen.linea.float
          a(href='index.html')
            img(src='images/logo.png')
        .menuHome_div_title.linea
          h1.menuHome_title.margen.colorPrimary
            | Tu libro viajero
        form.menuHome_login.linea.floatD(action="/login", method="POST")
          fieldset.menuHome_fieldset.noBorder.linea
            input.inputEmail(name='username', type='text', placeholder='edinson@hotmail.com', autofocus='')
          fieldset.menuHome_fieldset.noBorder.linea
            input.inputPass(name="password" type='password', placeholder='Ingrese su clave')
          fieldset.menuHome_fieldset.noBorder.linea
            input.menuHome_inputSubmit.bgLogin-btn.noBorder(type='submit', value='Ingresar')
            a.menuHome_buttonLogin.linkBlanco(href='registro/') Registrar
    .slideHome
      figure.slideHome_cont.margen
        img(src='images/slide-libro.jpg', alt='')
        .slideHome_titleHome
          h1.slideHome_viajero.colorBlanco.margen.wow.zoomIn
            | Viaja por el MUNDO sin limites, 
            br
          h2.slideHome_viajero.colorBlanco.margen
            | con información exacta,
            br
            span.colorNegro ESTES DONDE ESTES
        .slideHome_btnHome
          button.homeBTNTo.btnLinkPrimary
            a.linkBlanco(href='#')
              | 0 kmh
              .iconAnimateTo.linea
                i.el-icon-info-sign
              .iconAnimateTo--Hover
                span.iconAnimateTo--Hover--Title
                 | Argentina
          button.homeBTN.btnLinkSecondary
            a.linkBlanco(href='#')
              | Empezar
              .iconAnimateOne.linea
                i.el-icon-chevron-right
        .slideHome_video
          p.slideHome_link
            a#viaintivideo.aClass.linkBlanco(href='#viaintivideo')
              i.el-icon-video
              |           Ver como ayudamos a los viajeros
      .menuHome_lineabg
    article.videoViainti
      aside.videoViaintiTo
        iframe(width='854', height='510', src='https://www.youtube.com/embed/4MFOW8dhPvE', frameborder='0', allowfullscreen='')
    main
      section#conosca-nuestros-paquetes.contenidoHome
        header.contenidoHome_header
          h2.contenidoHome_title.margen.colorSemiNegro
            | Paquetes para nuestros viajeros
        .contenidoHome_Cont
          a.contenidoHome_Servicios_Link.hotelTab.linkNegro(href='#conosca-nuestros-paquetes')
            article.contenidoHome_servicios.linea
              figure.contenidoHome_figure.margen
                img.imgServ(src='images/home/hotel.png', alt='')
              figcaption.titleServ
                | Hoteles
              .contenidoHome_selected_hotel.wow.zoomIn
                i.el-icon-chevron-up
          a.contenidoHome_Servicios_Link.restauranteTab.linkNegro(href='#conosca-nuestros-paquetes')
            article.contenidoHome_servicios.linea
              figure.contenidoHome_figure.margen
                img.imgServ(src='images/home/restaurante.png', alt='')
              figcaption.titleServ
                | Restaurantes
              .contenidoHome_selected_restaurante.wow.zoomIn
                i.el-icon-chevron-up
          a.contenidoHome_Servicios_Link.vuelosTab.linkNegro(href='#conosca-nuestros-paquetes')
            article.contenidoHome_servicios.linea
              figure.contenidoHome_figure.margen
                img.imgServ(src='images/home/vuelos.png', alt='')
              figcaption.titleServ
                | Vuelos
              .contenidoHome_selected_vuelos.wow.zoomIn
                i.el-icon-chevron-up
          a.contenidoHome_Servicios_Link.musicaTab.linkNegro(href='#conosca-nuestros-paquetes')
            article.contenidoHome_servicios.linea
              figure.contenidoHome_figure.margen
                img.imgServ(src='images/home/musica.png', alt='')
              figcaption.titleServ
                | Musica
              .contenidoHome_selected_musica.wow.zoomIn
                i.el-icon-chevron-up
          a.contenidoHome_Servicios_Link.noticiasTab.linkNegro(href='#conosca-nuestros-paquetes')
            article.contenidoHome_servicios.linea
              figure.contenidoHome_figure.margen
                img.imgServ(src='images/home/noticia.png', alt='')
              figpcation.titleServ
                | Noticias
              .contenidoHome_selected_noticias.wow.zoomIn
                i.el-icon-chevron-up
          a.contenidoHome_Servicios_Link.juegosTab.linkNegro(href='#conosca-nuestros-paquetes')
            article.contenidoHome_servicios.linea
              figure.contenidoHome_figure.margen
                img.imgServ(src='images/home/juego.png', alt='')
              figcaption.titleServ
                | Entrenimiento
              .contenidoHome_selected_juegos.wow.zoomIn
                i.el-icon-chevron-up
        section.contenidoHome_Tab
          article.contenidoHome_mejoras
            article.contenidoHome_info
              header.contenidoHome_title_info
                h2.title_header
                  | AHORRE DINERO Y
                  br
                  |  TIEMPO
              p.contenidoHome_title_informacion.colorMarron
                | Coloque su viaje en su presupuesto y pasar su tiempo sabiamente . Encontrar la manera más rápida y barata entre dónde se encuentra y los lugares que quieres ir . Además de los mejores alojamientos rentables cercanas a los lugares que desea visitar , ahorrar tiempo y dinero mientras se mueve.
              button.btnUnete.btnLinkHomeInfo
                a.linkAzul(href='#') Únete Ahora
          article.contenidoHome_mejoras_dos
            article.contenidoHome_info
              header.contenidoHome_title_info
                h2.title_header
                  | OPTIMIZAR SU RUTA
                  br
                  |  Y GUÍA
              p.contenidoHome_title_informacion.colorMarron
                | Encuentra las mejores alternativas para ir entre los lugares que desea visitar . Combine el transporte más relevantes y obtener el mejor conjunto de rutas para minimizar el costo de su viaje.
              button.btnUnete.btnLinkHomeInfo
                a.linkAzul(href='#') Únete Ahora
        section.contenidoHome_Tab_Hotel
          article.contenidoHome_mejoras
            article.contenidoHome_info
              header.contenidoHome_title_info
                h2.title_header
                  | RESERVE SU HOTEL
                  br
                  |  CERCANO
              p.contenidoHome_title_informacion.colorMarron
                | Coloque su viaje en su presupuesto y pasar su tiempo sabiamente . Encontrar la manera más rápida y barata entre dónde se encuentra y los lugares que quieres ir . Además de los mejores alojamientos rentables cercanas a los lugares que desea visitar , ahorrar tiempo y dinero mientras se mueve.
              button.btnUnete.btnLinkHomeInfo
                a.linkAzul(href='#') Únete Ahora
          article.contenidoHome_mejoras_dos
            article.contenidoHome_info
              header.contenidoHome_title_info
                h2.title_header
                  | OPTIMIZAR SU RUTA
                  br
                  |  Y GUÍA
              p.contenidoHome_title_informacion.colorMarron
                | Encuentra las mejores alternativas para ir entre los lugares que desea visitar . Combine el transporte más relevantes y obtener el mejor conjunto de rutas para minimizar el costo de su viaje.
              button.btnUnete.btnLinkHomeInfo
                a.linkAzul(href='#') Únete Ahora
        section.contenidoHome_Tab_Restaurante
          article.contenidoHome_mejoras
            article.contenidoHome_info
              header.contenidoHome_title_info
                h2.title_header
                  | RESTAURANTE
                  br
                  |  TIEMPO
              p.contenidoHome_title_informacion.colorMarron
                | Coloque su viaje en su presupuesto y pasar su tiempo sabiamente . Encontrar la manera más rápida y barata entre dónde se encuentra y los lugares que quieres ir . Además de los mejores alojamientos rentables cercanas a los lugares que desea visitar , ahorrar tiempo y dinero mientras se mueve.
              button.btnUnete.btnLinkHomeInfo
                a.linkAzul(href='#') Únete Ahora
          article.contenidoHome_mejoras_dos
            article.contenidoHome_info
              header.contenidoHome_title_info
                h2.title_header
                  | OPTIMIZAR SU RUTA
                  br
                  |  Y GUÍA
              p.contenidoHome_title_informacion.colorMarron
                | Encuentra las mejores alternativas para ir entre los lugares que desea visitar . Combine el transporte más relevantes y obtener el mejor conjunto de rutas para minimizar el costo de su viaje.
              button.btnUnete.btnLinkHomeInfo
                a.linkAzul(href='#') Únete Ahora
        section.contenidoHome_Tab_Vuelos
          article.contenidoHome_mejoras
            article.contenidoHome_info
              header.contenidoHome_title_info
                h2.title_header
                  | VUELOS
                  br
                  |  TIEMPO
              p.contenidoHome_title_informacion.colorMarron
                | Coloque su viaje en su presupuesto y pasar su tiempo sabiamente . Encontrar la manera más rápida y barata entre dónde se encuentra y los lugares que quieres ir . Además de los mejores alojamientos rentables cercanas a los lugares que desea visitar , ahorrar tiempo y dinero mientras se mueve.
              button.btnUnete.btnLinkHomeInfo
                a.linkAzul(href='#') Únete Ahora
          article.contenidoHome_mejoras_dos
            article.contenidoHome_info
              header.contenidoHome_title_info
                h2.title_header
                  | OPTIMIZAR SU RUTA
                  br
                  |  Y GUÍA
              p.contenidoHome_title_informacion.colorMarron
                | Encuentra las mejores alternativas para ir entre los lugares que desea visitar . Combine el transporte más relevantes y obtener el mejor conjunto de rutas para minimizar el costo de su viaje.
              button.btnUnete.btnLinkHomeInfo
                a.linkAzul(href='#') Únete Ahora
        section.contenidoHome_Tab_Musica
          article.contenidoHome_mejoras
            article.contenidoHome_info
              header.contenidoHome_title_info
                h2.title_header
                  | MUSICA EN
                  br
                  | TIEMPO REAL
              p.contenidoHome_title_informacion.colorMarron
                | Coloque su viaje en su presupuesto y pasar su tiempo sabiamente . Encontrar la manera más rápida y barata entre dónde se encuentra y los lugares que quieres ir . Además de los mejores alojamientos rentables cercanas a los lugares que desea visitar , ahorrar tiempo y dinero mientras se mueve.
              button.btnUnete.btnLinkHomeInfo
                a.linkAzul(href='#') Únete Ahora
          article.contenidoHome_mejoras_dos
            article.contenidoHome_info
              header.contenidoHome_title_info
                h2.title_header
                  | ARTISTAS
                  br
                  |  EN TU UBICACIÓN
              p.contenidoHome_title_informacion.colorMarron
                | Encuentra las mejores alternativas para ir entre los lugares que desea visitar . Combine el transporte más relevantes y obtener el mejor conjunto de rutas para minimizar el costo de su viaje.
              button.btnUnete.btnLinkHomeInfo
                a.linkAzul(href='#') Únete Ahora
        section.contenidoHome_Tab_Noticias
          article.contenidoHome_mejoras
            article.contenidoHome_info
              header.contenidoHome_title_info
                h2.title_header
                  | NOTICIAS
                  br
                  |  TIEMPO
              p.contenidoHome_title_informacion.colorMarron
                | Coloque su viaje en su presupuesto y pasar su tiempo sabiamente . Encontrar la manera más rápida y barata entre dónde se encuentra y los lugares que quieres ir . Además de los mejores alojamientos rentables cercanas a los lugares que desea visitar , ahorrar tiempo y dinero mientras se mueve.
              button.btnUnete.btnLinkHomeInfo
                a.linkAzul(href='#') Únete Ahora
          article.contenidoHome_mejoras_dos
            article.contenidoHome_info
              header.contenidoHome_title_info
                h2.title_header
                  | OPTIMIZAR SU RUTA
                  br
                  |  Y GUÍA
              p.contenidoHome_title_informacion.colorMarron
                | Encuentra las mejores alternativas para ir entre los lugares que desea visitar . Combine el transporte más relevantes y obtener el mejor conjunto de rutas para minimizar el costo de su viaje.
              button.btnUnete.btnLinkHomeInfo
                a.linkAzul(href='#') Únete Ahora
        section.contenidoHome_Tab_Juegos
          article.contenidoHome_mejoras
            article.contenidoHome_info
              header.contenidoHome_title_info
                h2.title_header
                  | JUEGOS
                  br
                  |  TIEMPO
              p.contenidoHome_title_informacion.colorMarron
                | Coloque su viaje en su presupuesto y pasar su tiempo sabiamente . Encontrar la manera más rápida y barata entre dónde se encuentra y los lugares que quieres ir . Además de los mejores alojamientos rentables cercanas a los lugares que desea visitar , ahorrar tiempo y dinero mientras se mueve.
              button.btnUnete.btnLinkHomeInfo
                a.linkAzul(href='#') Únete Ahora
          article.contenidoHome_mejoras_dos
            article.contenidoHome_info
              header.contenidoHome_title_info
                h2.title_header
                  | CINE SU RUTA
                  br
                  |  Y GUÍA
              p.contenidoHome_title_informacion.colorMarron
                | Encuentra las mejores alternativas para ir entre los lugares que desea visitar . Combine el transporte más relevantes y obtener el mejor conjunto de rutas para minimizar el costo de su viaje.
              button.btnUnete.btnLinkHomeInfo
                a.linkAzul(href='#') Únete Ahora
    footer.footer_DerechosHome(data-role='footer')
      ul.footer_DerechosHome_gen
        .footer_DerechosHome_cont
          .footer_DerechosHome_bloques.linea.float
            span.footer_title.blanco.colorBlanco Viainti 2015
            select.footer_pais.noBorder
              option.select(value='0')
                | Argentina
              option.select(value='1') Brasil
              option.select(value='2') Chile
              option.select(value='3') Colombia
              option.select(value='4') Costa Rica
              option.select(value='5') España
              option.select(value='6') Guatemala
              option.select(value='7') México
              option.select(value='8') Panamá
          .footer_DerechosHome_bloques.linea.floatD
            li.footer_list.linea
              a.footer_list_link.linkBlanco(href='#') Ayuda
            li.footer_list.linea
              a.footer_list_link.linkBlanco(href='#') Información
            li.footer_list.linea
              a.footer_list_link.linkBlanco(href='#') Condiciones de uso
            li.footer_list.linea
              a.footer_list_link.linkBlanco(href='#') Negocios
            li.footer_list.linea
              a.footer_list_link.linkBlanco(href='#') Blog
            li.footer_list.linea
              a.footer_list_link.linkBlanco(href='#')
                | Desarrolladores
                a
    script.
      new WOW().init();
    script.
