doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='description', content='Vuelos economicos, vuelos en linea, comprar vuelos en linea, vuelos al mejor precio, vuelos desde argentina peru, vuelos en linea')
    title #{web}
    link(rel='stylesheet', href='../stylesheets/normalize.css')
    link(rel='stylesheet', href='../stylesheets/viainti.css')
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/base/jquery-ui.css', type='text/css')
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js')
    script(type='text/javascript', src='//static.dohop.com/swl/js/iframe.js?wl=viainti')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.js')
    script(src='../javascripts/viainti.js')
    script(src='../javascripts/vuelos.js')
    script(src='../javascripts/viaintifrontend.js')
  body.BodyVuelos
    include header-vuelosVuelos.jade
    main
      section.contenidoPrincipal
        section.contenidoVuelos
          section.contenidosVuelos--Iz
            figure.contenidoVuelos--Figure.margen
              img(src='../images/viajes/pubviaje1.jpg', alt='')
          aside.contenidosVuelos--De.info
