doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='description', content='Viainti')
    title #{web}
    
    link(rel='stylesheet', href='../stylesheets/normalize.css')
    
    link(rel='stylesheet', href='../stylesheets/viainti.css')

    link(rel='stylesheet', href='//kendo.cdn.telerik.com/2015.2.902/styles/kendo.common-material.min.css')
    link(rel='stylesheet', href='//kendo.cdn.telerik.com/2015.2.902/styles/kendo.material.min.css')

    script(src='https://code.jquery.com/jquery-1.11.2.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.js')

    script(src='//kendo.cdn.telerik.com/2015.2.902/js/kendo.all.min.js')
    
    script(src="/socket.io/socket.io.js")
    
    script(src='../javascripts/viaintifrontend.js')
    
    script(src='../../javascripts/app-via.js')

    script(src='../../javascripts/app-secondary.js')
    
    

  body

    header.menuViainti.bgHeader(data-role='header')
      include header-principal.jade
      nav.linkMenu
        ul.contMenu
          li.liMenu
            a.aLinkMenu(href='#') Inicio
          li.liMenu.jsHot
            a.aLinkMenu(href='../hoteles/') Hoteles
          li.liMenu.jsRest
            a.aLinkMenu(href='../restaurantes/') Restaurantes
          li.liMenu
            a.aLinkMenu(href='../vuelos/') Viajes
    main
     if !activeService
      section.contenidoPrincipal.miservicios
       if permisoServicios
        article.miservicios--Article
         header.miservicios--Article--Header
          h2.title
           | Mi Servicios
          figure.figure
           img(src="../../images/miservices.png")
          div.descriptionContainer
            p.description
             | Se envío la solicitud, en breves momentos nos comunicaremos con usted gracias
       else
        article.miservicios--Article
         header.miservicios--Article--Header
          h2.title
           | Mi Servicios
          figure.figure
           img(src="../../images/miservices.png")
          div.descriptionContainer
            p.description
             | Solicitar permisos para publicar servicios hoteleros, restaurantes, paquetes turísticos
         form.miservicios--Article--Form(action="solicitud", method="POST")
          fieldset.Form--Fieldset
           label.Form--Fieldset--Label
            | Que servicio brinda?
           select(name="miservicioresponse")
            option(value="Restaurante")
             | Restaurante
            option(value="Hotel")
             | Hotel
            option(value="Turismo")
             | Turismo
          fieldset.Form--Fieldset
           input(type="submit", value="Solicitar Permisos")
     else 
      if category == "Turismo"
       section.contenidoBackendAdmin
            nav.menuBackend
                ul.menuBackend--Ul
                    li.menuBackend--List.selectLinkBackend
                        a.menuBackend--Link.selectLinkWhite(href="../vuelos/")
                            i(class="fa fa-suitcase")
                            | Paquetes
                    li.menuBackend--List
                        a.menuBackend--Link(href="#")
                            i(class="fa fa-ship")
                            | Cruceros
            section.contForm--Backend
             form.Form--Backend(action="../servicesadd", method="POST", enctype="multipart/form-data")
              fieldset.FormFieldset--Backend
               label.FormLabels--Backend
                | Titulo
               input(type="text", name="titulo", class="FormInput--Backend", placeholder="Paquete para estados unidos", required)
              fieldset.FormFieldset--Backend
               label.FormLabels--Backend
                | Precio
               input(type="number", name="precio", class="FormInput--Backend", placeholder="$12000", required)
              div.ormFieldset--Backend.flexOne 
               fieldset.FormFieldset--Backend
                label.FormLabels--Backend
                 | Imagen
                input(type="file", name="imagen", class="FormInput--Backend", required)
               fieldset.FormFieldset--Backend
                label.FormLabels--Backend
                 | Cover Imagen
                input(type="file", name="coverimagen", class="FormInput--Backend", required)
              div.FormFieldset--Backend
               fieldset.FormFieldset--Backend
                label.FormFieldset--Backend
                 label.FormLabels--Backend
                  | Fecha de ida
                 input(type="date", name="dateida", class="FormInput--Backend", required)
               fieldset.FormFieldset--Backend
                label.FormFieldset--Backend
                 label.FormLabels--Backend
                  | Fecha de llegada
                 input(type="date", name="datellegada" ,class="FormInput--Backend", required)
              div.FormFieldset--Backend.flex
               fieldset.FormFieldset--Backend
                label.FormLabels--Backend
                 | Cantidad dias
                select(name="cantidadDias", class="FormSelect--Backend", required)
                 option(value="1") 1
                 option(value="3") 3
                 option(value="5") 5
                 option(value="7") 7
                 option(value="10") 10
                 option(value="15") 15
                 option(value="30") 30
               fieldset.FormFieldset--Backend
                label.FormLabels--Backend
                 | Cantidad de noches
                select(name="cantidadNoches", class="FormSelect--Backend", required)
                 option(value="1") 1
                 option(value="2") 2
                 option(value="3") 3
                 option(value="4") 4
                 option(value="5") 5
                 option(value="6") 6
                 option(value="7") 7
                 option(value="8") 8
                 option(value="9") 9
                 option(value="10") 10
                 option(value="11") 11
                 option(value="12") 12
                 option(value="13") 13
                 option(value="14") 14
                 option(value="15") 15
                 option(value="16") 16
                 option(value="17") 17
                 option(value="18") 18
                 option(value="19") 19
                 option(value="20") 20
                 option(value="21") 21
                 option(value="22") 22
                 option(value="23") 23
                 option(value="24") 24
                 option(value="25") 25
                 option(value="26") 26
                 option(value="27") 27
                 option(value="28") 28
                 option(value="29") 29
                 option(value="30") 30
               fieldset.FormFieldset--Backend
                label.FormLabels--Backend
                 | Personas
                select(name="cantidadPersonas", class="FormSelect--Backend", required)
                 option(value="1") 1
                 option(value="2") 2
                 option(value="3") 3
                 option(value="4") 4
                 option(value="5") 5
                 option(value="6") 6
                 option(value="7") 7
                 option(value="8") 8
                 option(value="9") 9
                 option(value="10") 10
               fieldset.FormFieldset--Backend
                label.FormLabels--Backend
                 | Paises
                select(name="paises", class="FormSelect--Backend", required)
                 
                 option(value='Argentina', selected="selected") Argentina
                 option(value='Peru', selected="selected") Peru
                 
              div.FormFieldset--Backend.flex
               fieldset.FormFieldset--Backend
                label.FormLabels--Backend
                 | Pasaje
                input(type="text", name="pasaje", class="FormInput--Backend", placeholder="Si o No", required)
               fieldset.FormFieldset--Backend
                label.FormLabels--Backend
                 | Mobilidad
                input(type="text", name="mobilidad", class="FormInput--Backend", placeholder="Si o No", required)
               fieldset.FormFieldset--Backend
                label.FormLabels--Backend
                 | Hotel
                input(type="text", name="hotel", class="FormInput--Backend", placeholder="Si o No", required)
               fieldset.FormFieldset--Backend
                label.FormLabels--Backend
                 | Seguro Medico
                input(type="text", name="seguromedico", class="FormInput--Backend", placeholder="Si o No", required)            
              fieldset.FormFieldset--Backend
                label.FormLabels--Backend
                 | Contenido del paquete
                textarea(id="addPaquetes" name="contenido", class="FormTextarea--Backend", cols="98", rows="10", placeholder="Ingrese el contenido del paquete", required)
              fieldset.FormFieldset--Backend
                input(type="submit", value="Publicar", class="FormSubmit--Backend") 
      else if category == "Restaurante"
       section.contenidoBackendAdmin
        section.contForm--Backend

             form.Form--BackendRestaurantes(action="../servicesadd/restaurantes", method="POST", enctype="multipart/form-data")
              fieldset.FormFieldset--Backend
               label.FormLabels--Backend
                | Nombre Restaurante
               input(type="text", name="tituloHotel", class="FormInput--Backend", placeholder="Ingrese el nombre del restaurante", required)
              fieldset.FormFieldset--Backend
               label.FormLabels--Backend
                | Descripcción
               input(type="text", name="textRest", class="FormInput--Backend", placeholder="Descripción del restaurante")
              div.ormFieldset--Backend.flexOne 
               fieldset.FormFieldset--Backend
                label.FormLabels--Backend
                 | Logo
                input(type="file", name="imagenRest", class="FormInput--Backend", placeholder="Url de la imagen")
               fieldset.FormFieldset--Backend
                label.FormLabels--Backend
                 | Cover
                input(type="file", name="coverRest", class="FormInput--Backend", placeholder="Lima/Buenos Aires")
               
              div.ormFieldset--Backend.flexOne
               fieldset.FormFieldset--Backend
                label.FormLabels--Backend
                 | Barrio
                input(type="text", name="ubicacionRest", class="FormInput--Backend", placeholder="Ingrese el barrio donde se encuentra ubicado su negocio")
               fieldset.FormFieldset--Backend
                label.FormLabels--Backend
                 | Dirección
                input(type="text", name="direccionRest", class="FormInput--Backend", placeholder="Lima/Buenos Aires")
               fieldset.FormFieldset--Backend
                label.FormLabels--Backend
                 | Paises
                select(name="paises", class="FormSelect--Backend", required)
                 
                 option(value='Argentina', selected="selected") Argentina
                 option(value='Peru') Peru
             
              div.FormFieldset--Backend.flex
               fieldset.FormFieldset--Backend
                label.FormLabels--Backend
                 | Teléfono:
                input(type="text", name="telRest", class="FormInput--Backend", placeholder="Teléfono")
               fieldset.FormFieldset--Backend
                label.FormLabels--Backend
                 | Latitud:
                input(type="text", name="latitud", class="FormInput--Backend", placeholder="Latitud")
               fieldset.FormFieldset--Backend
                label.FormLabels--Backend
                 | Longitud:
                input(type="text", name="longitud", class="FormInput--Backend", placeholder="Longitud")
               
              fieldset.FormFieldset--Backend
                input(type="submit", value="Publicar", class="FormSubmit--Backend") 
      else if category == "Hotel"
    script(src='../../javascripts/viaintibackend.js')