<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="robots" content="nofollow">
    <meta name="description" content="Vuelos economicos, vuelos en linea, comprar vuelos en linea, vuelos al mejor precio, vuelos desde argentina peru, vuelos en linea">
    <title></title>
    <link rel="stylesheet" href="../stylesheets/normalize.css">
    <link rel="stylesheet" href="../stylesheets/viainti.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.js"></script>
    <script src="../javascripts/viaintibackend.js"></script>
  </head>
  <body>
    <header data-role="header" class="menuViainti bgHeader">
      <div class="header">
        <div class="menuViaintiLeft">
          <figure class="menuViainti_Logo margen enLinea"><img src="../images/logo.png" alt="Viainti tu libro viajero" class="logoHeader"></figure>
        </div>
      </div>
      <nav class="linkMenu">
        <ul class="contMenu">
          <li class="liMenu"><a href="/" class="aLinkMenu">Inicio</a></li>
          <li class="liMenu"><a href="../vuelos/" class="aLinkMenu">Vuelos</a></li>
          <li class="liMenu"><a href="../paquetes" class="aLinkMenu aMenuHover">Paquetes</a></li>
          <li class="liMenu"><a href="../cruceros/" class="aLinkMenu">Cruceros</a></li>
          <li class="liMenu"><a href="#" class="aLinkMenu">Novedades</a></li>
          <ul class="contMenuSociales">
            <li class="ListSociales">
              <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fviainti&amp;amp;send=false&amp;amp;layout=button_count&amp;amp;width=140&amp;amp;show_faces=false&amp;amp;font&amp;amp;colorscheme=light&amp;amp;action=like&amp;amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:78px; height:21px;" allowtransparency="true"></iframe>
            </li>
          </ul>
        </ul>
      </nav>
    </header>
    <main>
      <section class="contenidoPrincipal">
        <header class="subMenuViajes">
          <ul class="subMenuViajes--Cont">
            <li class="listSubMenuViajes"><a href="/" class="link">
                 
                Inicio</a></li>
            <li class="listSubMenuViajes"><a href="/paquetes" class="link">Paquetes Turisticos</a></li>
          </ul>
        </header>
        <section class="contenidoVuelos">
          <section class="contenidosVuelos--Iz">
            <section class="contenidoPaquetes">
              <form class="searchPaquetes">
                <header class="searchPaquetes--Header">
                  <h2 class="title">Encuentra tu paquete</h2>
                </header>
                <fieldset class="searchPaquetes--Fieldset">
                  <label class="fieldset--Title">Ciudad de origen</label>
                  <input type="text" placeholder="Donde se encuentra?" class="inputPaquetes">
                </fieldset>
                <fieldset class="searchPaquetes--Fieldset">
                  <label class="fieldset--Title">Ciudad de destino</label>
                  <input type="text" placeholder="Donde quiere ir?" class="inputPaquetes">
                </fieldset>
                <fieldset class="searchPaquetes--Fieldset">
                  <label class="fieldset--Title">Fechas disponibles</label>
                  <select class="optionsPaquetes inputPaquetes">
                    <option value="Noviembre">Noviembre</option>
                    <option value="Diciembre">Diciembre</option>
                    <option value="Enero">Enero</option>
                  </select>
                </fieldset>
                <fieldset class="searchPaquetes--Fieldset">
                  <input type="submit" value="Buscar" class="enviarPaquetes">
                </fieldset>
              </form>
            </section>
          </section>
          <aside class="contenidosVuelos--De">
            <div class="contenidosVuelos--Separador"></div>
            <div class="contenidosVuelos--Circle"></div>
            <section class="contenidos--Vuelos--Cont"></section>
            <div class="contenidosVuelos--Pagination">
              <ul class="contenidosVuelos--Pagination--Ul">
                <li class="List--Title linea toPaginatorPrevius"></li>
                <li class="List--Title linea toPaginatorNext"></li>
              </ul>
            </div>
          </aside>
        </section>
      </section>
    </main>
    <footer data-role="footer" class="footer_DerechosHome">
      <ul class="footer_DerechosHome_gen">
        <div class="footer_DerechosHome_cont">
          <div class="footer_DerechosHome_bloques linea float"><span class="footer_title cBlanco">Viainti 2015</span>
            <select class="footer_pais noBorder">
              <option value="0" class="select">Argentina</option>
              <option value="1" class="select">Brasil</option>
              <option value="2" class="select">Chile</option>
              <option value="3" class="select">Colombia</option>
              <option value="4" class="select">Costa Rica</option>
              <option value="5" class="select">España</option>
              <option value="6" class="select">Guatemala</option>
              <option value="7" class="select">México</option>
              <option value="8" class="select">Panamá</option>
            </select>
          </div>
          <div class="footer_DerechosHome_bloques linea floatD">
            <li class="footer_list linea"><a href="#" class="footer_list_link linkBlanco">Ayuda</a></li>
            <li class="footer_list linea"><a href="#" class="footer_list_link linkBlanco">Información</a></li>
            <li class="footer_list linea"><a href="#" class="footer_list_link linkBlanco">Condiciones de uso</a></li>
            <li class="footer_list linea"><a href="#" class="footer_list_link linkBlanco">Negocios</a></li>
            <li class="footer_list linea"><a href="#" class="footer_list_link linkBlanco">Blog</a></li>
            <li class="footer_list linea"><a href="#" class="footer_list_link linkBlanco">Desarrolladores<a></a></a></li>
          </div>
        </div>
      </ul>
    </footer>
  </body>
</html>