/*utils*/

.uHidden {
	display: none;
}
.uMargin:first-child {
	margin: 0!important;
}
.uMarginOne {
	margin: 1em 0 0 0;
}
.uCenterVideo {
	margin: 0 auto;
}
.profilePadding {
	padding: 2em 0!important;
}

// 20-09-2016
.Post--User--Like {
	display: none;
}


.linesNotComments {
	margin: 1em 0;
	.lineNotComments--One {
		width: 175px;
		height: 7px;
		background-color: #c2c7ca;
		animation: unoA 0.5s infinite;
	}
	.lineNotComments--Two {
		margin: 0.5em 0;
		width: 140px;
		height: 7px;
		background-color: #c2c7ca;
		animation: dos 1s infinite;
	}

	.lineNotComments--Tree {
		margin: 0.5em 0;
		width: 105px;
		height: 7px;
		background-color: #c2c7ca;
		animation: tres 1.2s infinite;
	}
	@keyframes unoA {
		50% {
			background: #afb6b9;
		}
	}
	@keyframes dos {
		20% {
			background: #afb6b9;
		}
	}
	@keyframes tres {
		70% {
			background: #afb6b9;
		}
	}

	
}

.showErroContainer {
	position: relative;
	height: 100vh;
	.showError {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -1em;
		margin-left: -0.5em;
		color: white;
		font-size: 5em;
		font-weight: 400;
		color: #2f3f4e;
		.uno {
			animation: numberOne 1s infinite;
			transition: all 0.5s ease;
		}
		.dos {
			animation: numberTwo 1s infinite;
			transition: all 0.5s ease;
		}
		.tres {
			animation: numberOne 1s infinite;
			transition: all 0.5s ease;
		}
		@keyframes numberOne {
			50% {
				font-size: 1.2em;
			}
		}
		@keyframes numberTwo {
			20% {
				font-size: 0.8em;
			}
		}
	}
}

.geolocaTion {
	position: relative;
	.geolocaTion--Container {
		width: 50%;
		margin: 0 auto;
		height: 100vh;
		.geolocation--Header {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -5.5em;
			margin-top: -7em;
			font-weight: 400;
			.title {
				font-weight: 400;
				color: #d14233;
			}
		}
		.geoOneCircle {
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -4em;
			width: 120px;
			height: 120px;
			border-radius: 50%;
			background-color: #d14233;
			z-index: 59;
		}
		.geoTwoCircle {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 150px;
			height: 150px;
			border: 10px solid #d14233;
			border-radius: 50%;
			margin-left: -5.5em;
			margin-top: -1.5em;
			z-index: 58;
			animation: geoLat 2s ease;
			 animation-iteration-count: infinite;
		}
		.geoTreeCircle {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 150px;
			height: 150px;
			border: 10px solid #d14233;
			border-radius: 50%;
			margin-left: -5.5em;
			margin-top: -1.5em;
			z-index: 58;
			animation: geoIs 2s ease infinite;
			opacity: 0;
		}
		@keyframes geoLat {
			0% {
				transform: scale(0);
				opacity: 0;
			}
			25% {
				transform: scale(0);
				opacity: 0.1;
			}
			50% {
				transform: scale(0.1);
				opacity: 0.3;
			}
			75% {
				transform: scale(0.5);
				opacity: 0.5; 
			}
			100% {
				transform: scale(2);
				opacity: 0.0;  
			}
		}
		@keyframes geoIs {
			1% {
				opacity: 0;
				transform: scale(0);
			}
			25% {
				opacity: 1;
				transform: scale(0.1);
			}
			28% {
				opacity: 1;
				transform: scale(0.2);
			}
		}

	}
}



