/*utils*/

.uHidden {
	display: none;
}
.uMargin:first-child {
	margin: 0!important;
}
.uMarginOne {
	margin: 1em 0 0 0;
}
.uCenterVideo {
	margin: 0 auto;
}

.linesNotComments {
	margin: 1em 0;
	.lineNotComments--One {
		width: 175px;
		height: 7px;
		background-color: #c2c7ca;
		animation: unoA 0.5s infinite;
	}
	.lineNotComments--Two {
		margin: 0.5em 0;
		width: 140px;
		height: 7px;
		background-color: #c2c7ca;
		animation: dos 1s infinite;
	}

	.lineNotComments--Tree {
		margin: 0.5em 0;
		width: 105px;
		height: 7px;
		background-color: #c2c7ca;
		animation: tres 1.2s infinite;
	}
	@keyframes unoA {
		50% {
			background: #afb6b9;
		}
	}
	@keyframes dos {
		20% {
			background: #afb6b9;
		}
	}
	@keyframes tres {
		70% {
			background: #afb6b9;
		}
	}

	
}
.showErroContainer {
	position: relative;
	height: 100vh;
	.showError {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -1em;
		margin-left: -0.5em;
		color: white;
		font-size: 5em;
		font-weight: 400;
		color: #2f3f4e;
		.uno {
			animation: numberOne 1s infinite;
			transition: all 0.5s ease;
		}
		.dos {
			animation: numberTwo 1s infinite;
			transition: all 0.5s ease;
		}
		.tres {
			animation: numberOne 1s infinite;
			transition: all 0.5s ease;
		}
		@keyframes numberOne {
			50% {
				font-size: 1.2em;
			}
		}
		@keyframes numberTwo {
			20% {
				font-size: 0.8em;
			}
		}
	}
}